
.font-google{
    font-family: 'Kosugi', ;
}
.font-1{
    background-color: palevioletred;
    font-weight: 500;
    color: #ffffff;
}
.font-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}